<div class="row">
    <div class="col-md-12 col-lg-6 col-xxxl-4">
        <nb-card>
          <nb-card-header>Select Process</nb-card-header>
          <nb-card-body>
            <nb-select placeholder="Select Process" *ngFor="let options of processDefinitions"[(selected)]="commonSelectedItem" (selectedChange)="selectedItem()">
              <nb-option value="{{options.controlType}}">{{options.controlName}}</nb-option>
            </nb-select>
          </nb-card-body>
        </nb-card>

        <nb-alert status="success" *ngIf="submitFlag">You have been successfully submitted!</nb-alert>
      </div>


  <div class="col-md-6" *ngIf="flag">
    <nb-card>
      <nb-card-header>Fill in the Form to start the Process</nb-card-header>
      <nb-card-body>
        <form [formGroup]="form" (submit)="submitForm()">

          <ng-template ngFor let-input [ngForOf]="data">
            <ng-container [ngSwitch]="input.controlType">
              <ng-template [ngSwitchCase]="'String'">
                <div class="form-group row">
                  <label [for]="input.controlName" class="col-sm-3 col-form-label"> {{input.controlName}}</label>
                  <div class="col-sm-9">
                    <input [formControlName]="input.controlName" [type]="text" class="form-control" />
                  </div>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="'Boolean'">
                <div class="form-group row">
                  <label [for]="input.controlName" class="col-sm-3 col-form-label"> {{input.controlName}}</label>
                  <div class="col-sm-9">
                    <input [formControlName]="input.controlName" type="checkbox" name="input.controlName">
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </ng-template>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>